<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thwildau.guido"
    android:versionCode="130"
    android:versionName="0.130" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="de.thwildau.guido.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="de.thwildau.guido" />
            </intent-filter>
        </receiver>
        <receiver android:name="de.thwildau.guido.util.LocationBroadcastReceiver" >
        </receiver>

        <service android:name="de.thwildau.guido.gcm.GcmIntentService" />

        <activity
            android:name="de.thwildau.guido.StartActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.thwildau.guido.Login"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name="de.thwildau.guido.Registration"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name="de.thwildau.guido.RouteCreatorMap"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.RoutesOverview"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName="android.app.ListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="de.thwildau.guido.MessageOverview"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName="android.app.ListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="de.thwildau.guido.RouteDetail"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.MessageDetail"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.Lobby"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.RouteCreator"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.ActiveRoute"
            android:label=""
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.RouteDetailMap"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.ProfileInformation"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.thwildau.guido.ContactList"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName="android.app.ListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
    </application>

</manifest>